@using MediPlusMVC.DTO.PatientDTO;
@model PatientDTO;

<div class="container-fluid">
    <form method="post">
        <div class="form-group">
            <label asp-for="FirstName">First name</label>
            <input asp-for="FirstName" type="text" class="form-control">
            <span asp-validation-for="FirstName"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName">Last name</label>
            <input asp-for="LastName" type="text" class="form-control">
            <span asp-validation-for="LastName"></span>
        </div>
        <div class="form-group">
            <label asp-for="Fincode">Fin code</label>
            <input asp-for="Fincode" type="text" class="form-control">
            <span asp-validation-for="Fincode"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber">Phone number</label>
            <input asp-for="PhoneNumber" type="tel" class="form-control">
            <span asp-validation-for="PhoneNumber"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        @{
            if (!Model.isActive)
            {
                <a asp-action="RevertSoftDelete" asp-route-itemid="@Model.Id">
                    <button class="btn btn-primary">Revert</button>
                </a>
            }
        }
    </form>
</div>