@using MediPlusMVC.DTO.HospitalDTO;
@model HospitalDTO;

<div class="container-fluid">
    <form method="post">
        <div class="form-group">
            <label asp-for="HospitalName">Hospital Name</label>
            <input asp-for="HospitalName" type="text" class="form-control">
            <span asp-validation-for="HospitalName"></span>
        </div>
        <div class="form-group">
            <select class="form-select" multiple aria-label="multiple select example" asp-for="DoctorIds" asp-items="ViewBag.Doctors">
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        @{
            if (!Model.isActive)
            {
                <a class="btn btn-primary" asp-controller="Hospital" asp-action="RevertSoftDelete" asp-route-id="@Model.Id">
                    Revert
                </a>
            }
        }
    </form>
</div>